<MudDialog>
    <DialogContent>
        <MudItem xs="12">
            <MudSelect T="string" Label="Doctor" @bind-Value="@DoctorName" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="@("Dr. Miller")" />
                <MudSelectItem Value="@("Dr. Black")" />
                <MudSelectItem Value="@("Dr. Fortier")" />
                <MudSelectItem Value="@("Dr. Croteau")" />
            </MudSelect>
        </MudItem>
        <br />

        <MudItem xs="12">
            <MudSelect T="string" Label="Appointment Type" @bind-Value="@Reason" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="@("Check up")" />
                <MudSelectItem Value="@("Consultation")" />
                <MudSelectItem Value="@("Immunization")" />
            </MudSelect>
        </MudItem>
        <br />

        <MudDatePicker Label="Date" @bind-Date="@Date" DisableToolbar="true" />
        <br />

        <div class="d-flex">
            <MudSelect T="int" Dense="true" Label="Hour" Style="width: 100px" @bind-Value="@Hour" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="8" />
                <MudSelectItem Value="9" />
                <MudSelectItem Value="10" />
                <MudSelectItem Value="11" />
                <MudSelectItem Value="12" />
                <MudSelectItem Value="1" />
                <MudSelectItem Value="2" />
                <MudSelectItem Value="3" />
                <MudSelectItem Value="4" />
            </MudSelect>
            <MudSelect T="int" Dense="true" Label="Minute" Style="width: 100px" @bind-Value="@Minutes" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="00" />
                <MudSelectItem Value="30" />
            </MudSelect>
        </div>


        <MudTextField T="string" Label="Additional Notes"></MudTextField>
        <br />
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@Submit">Confirm</MudButton>
        <MudButton Variant="Variant.Filled" OnClick="@Cancel">Cancel</MudButton>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public Patient patient { get; set; }

    public DateTime? Date { get; set; } = DateTime.Today;
    public string Reason { get; set; } = "";
    public string DoctorName { get; set; } = "";
    public int Hour { get; set; } = 8;
    public int Minutes { get; set; } = 00;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        DoctorName = patient.usualDoctor;
    }

    public int GetHour()
    {
        if (Hour < 13)
        {
            return Hour;
        }
        else
        {
            return 12 + Hour;
        }
    }

    public void Add()
    {
        DateTime d = Date.Value.AddHours(GetHour()).AddMinutes(Minutes);
        Appointment a = new Appointment(Appointment.index++, DoctorName, patient, Reason, d);
        Appointment.SampleAppointments.Add(a);
    }

    void Submit()
    {
        Add();
        MudDialog.Close(DialogResult.Ok(true));
    }

    void Cancel() => MudDialog.Cancel();
}

